{% extends 'two-column.html' %} 
{% block title %}Home{% endblock %}



{% block page %}
			<div id="page">
								
				<div class="post type-post">

					<h1 class="entry-title">Installation</h1>
					<div class="entry">
						<p>Search for <span class="bold">Tube Chaser</span> in the Android Market, or you can scan the QR code to take you directly in the Market.</p>
					</div>

					<h1 class="entry-title">Developement Builds</h1>
					<div class="entry">
						<p>If you're interested in trying out the latest development builds, they can be found on our Google Code <a href="http://code.google.com/p/tubechaser/downloads/list?q=label:Development">downloads page</a>.</p>
					</div>



				</div><!-- post -->
			</div><!-- page -->
{% endblock %}


				
{% block sidebar %}
			<div id="side-links">
				<h5>Android Market</h5>
				<p>Download the lastest version of Tube Chaser from the Android Market</p>
                <!-- http://qrcode.kaywa.com/img.php?s=5&d=market://search?q=pname:com.andybotting.tubechaser -->
				<img class="centered" src="{{ MEDIA_URL }}img/qrcode.png">
			</div> <!-- side-links -->
{% endblock %}

