{% extends 'two-column.html' %}
{% block title %}Statistics{% endblock %}

{% block page %}
            <div id="page">
                <div class="post type-post">
                    <h1 class="entry-title">Statistics</h1>
					 <div class="entry">
						<p>Anonymous statistics sent by Tube Chaser are processed and displayed here.</p>
						<p>We have a <a href="/stats/map">Heat Map</a> showing popular locations where people are requesting departure information. We also have some <a href="/stats/chart/">charts</a> of information like the <a href="/stats/chart/device_version">Android version</a> users are running, their <a href="/stats/chart/device_model">mobile device</a> or just browse the full <a href="/stats/chart">list of charts</a>.</p>
						<p>Interested in what <a href="/privacy">statistics</a> we're collecting, or our <a href="/privacy">privacy policy</a>?</p>
                    </div>
                </div><!-- post -->
            </div><!-- page -->
{% endblock %}
	
